:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --white: #fff;
  --dairy: #fcfcfc;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--slate);
  background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  color: var(--navy-blue);
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.list-item-title {
  font-weight: 500;
  font-size: 20px;
  color: var(--navy-blue);
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.list-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* header */
.header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--iris);
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.header .nav-logo {
  margin-right: 76px;
}

.header .nav-logo .accent {
  color: var(--navy-blue);
}

.header-nav-list {
  display: flex;
  gap: 40px;
}
.nav-list-item {
}

.nav-list-item-link {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  position: relative;
  color: var(--ocean);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active::after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: var(--ocean);
  border-radius: 2px;
}

.nav-list-item-link:hover {
  color: var(--ocean);
}

.nav-list-item-link:focus {
  color: var(--ocean);
}

.nav-list-item-link:active {
  color: var(--ocean);
  text-decoration: underline;
}

.header-address {
  font-style: normal;
  margin-left: auto;
}

.contacts-list {
  display: flex;
  gap: 40px;
}
.contacts-list-item {
}

.contacts-list-item-link {
  color: var(--slate);
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list-item-link:hover {
  color: var(--ocean);
}

.contacts-list-item-link:focus {
  color: var(--ocean);
}

/* hero-section */
.hero-section {
  background-color: var(--navy-blue);
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-img.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  color: var(--white);
  letter-spacing: 0.02em;
  text-align: center;
  line-height: 1.07;
  max-width: 496px;
  margin: 0 auto 48px;
}

.hero-button {
  border: none;
  background-color: var(--iris);
  font-weight: 500;
  font-size: 16px;
  color: var(--white);
  letter-spacing: 0.04em;
  line-height: 1.5;
  cursor: pointer;
  border-radius: 4px;
  display: block;
  min-width: 169px;
  height: 56px;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover {
  background-color: var(--ocean);
}

.hero-button:focus {
  background-color: var(--ocean);
}

/* benefits-section */
.benefits {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-list {
  display: flex;
  gap: 24px;
}

.benefits-list-item {
  width: calc((100% - 72px) / 4);
}

.benefits-list-item-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: var(--cloud);
  border-radius: 4px;
  border: 1px solid var(--light-slate);
  margin-bottom: 8px;
}

.benefits-list-item-title {
  margin-bottom: 8px;
}

.benefits-list-item-text {
}

/* our-team */
.our-team {
  background-color: var(--cloud);
  padding: 120px 0;
}

.our-team-title {
  margin-bottom: 72px;
}

.our-team-list {
  display: flex;
  gap: 24px;
}

.our-team-list-item-container {
  padding: 32px 0;
}

.our-team-list-item {
  background-color: var(--white);
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.our-team-list-item-img {
}

.our-team-list-item-title {
  text-align: center;
  margin-bottom: 8px;
}

.our-team-list-item-text {
  text-align: center;
}

.our-team-list-item-container-social {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.our-team-list-item-container-social-item {
  width: 40px;
  height: 40px;
}

.our-team-list-item-container-social-item-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-list-item-container-social-item-link:hover {
  background-color: var(--ocean);
}

.our-team-list-item-container-social-item-link:focus {
  background-color: var(--ocean);
}

.our-team-list-item-container-social-item-link-svg {
  fill: var(--cloud);
}

/* portfolio */
.portfolio {
  padding: 120px 0;
}

.portfolio-title {
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-list-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:hover .portfolio-list-item-img-text {
  transform: translateY(0%);
}

.portfolio-list-item-img {
  position: relative;
  overflow: hidden;
}

.portfolio-list-item-img-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  padding: 40px 32px;
  background-color: var(--iris);
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item-container {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

.portfolio-list-item-title {
  margin-bottom: 8px;
}

.portfolio-list-item-img {
}
.portfolio-list-item-text {
}

/* footer */
.footer {
  background-color: var(--navy-blue);
  padding: 100px 0;
}

.footer .nav-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer .nav-logo .accent {
  color: var(--cloud);
}

.footer-text {
  color: var(--cloud);
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-container-main {
  margin-right: 120px;
}

.footer-container-social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}

.footer-container-social-list {
  display: flex;
  gap: 16px;
}

.footer-container-social-list-item {
  width: 40px;
  height: 40px;
}

.footer-container-social-list-item-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-container-social-list-item-link:hover {
  background-color: var(--green);
}

.footer-container-social-list-item-link:focus {
  background-color: var(--green);
}

.footer-container-social-list-item-link-svg {
  fill: var(--cloud);
}

.footer-container-subscribtion {
  margin-left: 80px;
}

.footer-container-subscribtion-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
}

.footer-container-subscribtion-form {
  display: flex;
  gap: 24px;
}

.footer-container-subscribtion-form-label-input {
  width: 264px;
  height: 40px;
  border: 1px solid var(--white);
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white);
}

.footer-container-subscribtion-form-label-input::placeholder {
  color: var(--white);
}

.footer-container-subscribtion-form-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--iris);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.footer-container-subscribtion-form-btn-svg {
  margin-left: 16px;
}

/* Pop-up */
.pop-up-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.pop-up-container.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.pop-up {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background: var(--dairy);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.pop-up-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pop-up-btn:hover,
.pop-up-btn:focus {
  background-color: var(--ocean);
  border: none;
}

.pop-up-btn:hover .pop-up-btn-svg,
.pop-up-btn:focus .pop-up-btn-svg {
  fill: var(--white);
}

.pop-up-btn-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pop-up-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 16px;
}

.pop-up-form {
}

.pop-up-form-field-wrapper {
  margin-bottom: 8px;
}

.pop-up-form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
  display: block;
  margin-bottom: 4px;
}

.pop-up-form-field {
  position: relative;
}

.pop-up-form-field-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pop-up-form-field-input:focus {
  border-color: var(--iris);
}

.pop-up-form-field-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pop-up-form-field-input:focus + .pop-up-form-field-svg {
  fill: var(--iris);
}

.pop-up-form-field-comment {
  margin-bottom: 16px;
}

.pop-up-form-field-comment-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pop-up-form-field-comment-textarea:focus {
  border-color: var(--iris);
}

.pop-up-form-checkbox {
  margin-bottom: 24px;
}

.pop-up-form-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}

.checkbox-custom {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.checkbox-input:checked + .pop-up-form-checkbox-label .checkbox-custom {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}

.checkbox-icon {
  fill: transparent;
}

.checkbox-input:checked + .pop-up-form-checkbox-label .checkbox-icon {
  fill: var(--cloud);
}

.pop-up-form-checkbox-label .policy-link {
  color: var(--iris);
}

.pop-up-form-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  background-color: var(--iris);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}
